* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color1: #3D6697;
    --color2: #E5E5E5;
    --color3: #C4C4C4;
    --color4: #FFFFFF;
    --color5: #000000;
}

html, body {
    width: 628px;
    height: 644px;
    font-size: 10px;
    font-family: 'Roboto Condensed', sans-serif;
}